// Import Bootstrap
@import '~bootstrap/scss/bootstrap.scss';

html {
  height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  width: 100vw;  
}

#root {
  height: 100vh;  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.overflow-y {
  overflow-y: auto;
}

.box-radius {
  border-radius: 8px !important;
}

.box-shadow {
  box-shadow: #0000002B 0px 2px 8px;
}

.box-style {
  box-shadow: #0000002B 0px 2px 8px;
  padding: 2rem 1.5rem;
}

.font-bold {
  font-weight: bold;
}

.status-box {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1.2rem 1rem;
  text-align: center;
}

.box-created {
  background-color: #F4F4F4;
  color: #0D472D;
}

.box-approve {
  background-color: #AAFFBE;
  color: #0D472D;
}

.box-conciliation {
  background-color: #FFEFCA;
  color: #433108;
}

.box-rejected {
  background-color: #FFD9D1;
  color: #360E07;
}

.modal-title {
  color: #4E17BA;
  font-size: 28px;
  font-weight: bold;
}

.modal-subtitle {
  color: #4E17BA;
  font-size: 18px;
  font-weight: bold;
}

.list-modal {
  max-height: 140px;
  overflow-y: auto;
}

.list-modal-row {
  align-items: center;
  height: 50px;
}

.border, .border-top, .border-right, .border-bottom, .border-left {
  border-color: #DBDBDB !important;
}

.modal-status-box {
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  display: flex;
  height: 36px;
  margin: 0px !important;
  padding: 0px !important;
  font-weight: bold;
}

.height-cell {
  height: 40px;
}

.font-bold {
  font-weight: bold;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.title {
  color: #0058A2;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.btn-close {
  background-color: #FFFFFF !important;
  border: none;
  cursor: pointer;
}

.btn-close:hover {
  color: #A1A1A1;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn-style {
  margin-left: 10px;
  margin-right: 10px;
  width: 30%;
}

.modal-container{
  border:0;
  background-color:rgba(0,0,0,0.3);
  z-index:100;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display:flex;
  justify-content:center;
  align-items:center;
}

.modal-box {
  width: 20%;
  background-color:white;
  z-index:100;
  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
  box-shadow: #c1c1c1 0px 2px 6px;
}

.modal-content{
  border: none !important;
  text-align:left;
}

.modal-content-children{
    text-align:left;
    display:flex;
    flex-direction:column;
}

.footer{
    margin-top:1rem;
    margin-bottom:1rem;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;

  div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }

  div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }

  div:nth-child(1) {
    animation-delay: -0.036s;
  }
  
  div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }

  div:nth-child(2) {
    animation-delay: -0.072s;
  }

  div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }

  div:nth-child(3) {
    animation-delay: -0.108s;
  }

  div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }

  div:nth-child(4) {
    animation-delay: -0.144s;
  }

  div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }

  div:nth-child(5) {
    animation-delay: -0.18s;
  }

  div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }

  div:nth-child(6) {
    animation-delay: -0.216s;
  }

  div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }

  div:nth-child(7) {
    animation-delay: -0.252s;
  }

  div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }

  div:nth-child(8) {
    animation-delay: -0.288s;
  }

  div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
}

.tab-item {
  cursor: pointer;
  background-color: transparent;
  font-size: 1.2rem;
  font-weight: 400;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  &.active {
    border-bottom: 0.2rem solid #0064aa;
  }
  &:hover {
    border-bottom: 0.2rem solid #c1c1c1;
  }
}

.font-status {
  font-weight: 400;
  &.active {
    color: #008000;
  }

  &.error {
    color: #FF0000;
  }
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}